
body{
    margin-left: 30px;
    margin-right: 30px;
}
section {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
td {
    text-align: left;
    padding-top: 3px ;
    padding-left: 5px;
}
h1{
    margin-right: 95px;
}
h2, h3 {
    margin: 0;
}
h3 {
    padding-left: 10px;
    font-size: 0.9em;
    color: #666;
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
ul {
    list-style-type: none;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
